<div class="heading-container">
  <h1>WebPad</h1>

  <div class="remarks-content">
    <p>This is an Angular application.</p>
    <p>Tools used: Angular CLI, Angular Material, Bootstrap</p>
    <p>
      Its same as an online notepad where you can quickly note your to-do tasks
      and accomplish them one by one without forgetting any of them.
    </p>
    <p>
      You can write whatever you want in the 'Add your notes' part and press the
      'add' button or press 'enter' on your keyboard to enter the notes. You can
      then remove them individually using the 'delete' button or remove them all
      at once using the 'Remove All' button.
    </p>
  </div>
</div>
