.custom-tabs {
  border-bottom: 3px solid #dee2e6;
}

.custom-nav-item .custom-nav-link {
  color: #495057;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid transparent;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.custom-nav-item .custom-nav-link:hover {
  color: #007bff;
  background-color: #f8f9fa;
  border-color: #dee2e6;
}

.custom-nav-item .custom-nav-link.active {
  color: #ffffff;
  background-color: #007bff;
  border-color: #dee2e6 #dee2e6 #f8f9fa;
}
