<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button 
      class="nav-link active" 
      id="home-tab" 
      (click)="navigateToHome()"
      data-bs-toggle="tab" 
      data-bs-target="#home-tab-pane" 
      type="button" 
      role="tab" 
      aria-controls="home-tab-pane" 
      aria-selected="true"
    >Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button 
      class="nav-link" 
      id="about-tab" 
      (click)="navigateToAbout()"
      data-bs-toggle="tab" 
      data-bs-target="#about-tab-pane" 
      type="button" 
      role="tab" 
      aria-controls="about-tab-pane" 
      aria-selected="false"
    >About</button>
  </li>
  <li class="nav-item" role="presentation">
    <button 
  class="nav-link" 
  id="contact-tab" 
  (click)="navigateToContact()"
  data-bs-toggle="tab" 
  data-bs-target="#contact-tab-pane" 
  type="button" 
  role="tab" 
  aria-controls="contact-tab-pane" 
  aria-selected="false"
>Contact</button>
  </li>
  <li class="nav-item" role="presentation">
    <button 
      class="nav-link" 
      id="remarks-tab" 
      (click)="navigateToRemarks()"
      data-bs-toggle="tab" 
      data-bs-target="#remarks-tab-pane" 
      type="button" 
      role="tab" 
      aria-controls="remarks-tab-pane" 
      aria-selected="false" 
    >Remarks</button>
  </li>
</ul>
