<div class="profile-container">
  <h1>Priyanshu Sarkar</h1>

  <div class="about-content">
    <p>
      I am a fresher with a 6 months decent experience working with TypeScript,
      Angular and REST APIs to develop the web UI for a hypervisor integration
      related feature of the product. I quickly learned Angular and other
      required skills to develop a working web UI for the POC of the same in a
      two-man team and also, worked for the rapid production level development
      for the same.
    </p>
    <p>
      Apart from this, I am also very confident with C++ since I have studied
      C++ quite a lot and made some projects using it along with which I have
      some decent knowledge about other languages as well like Java, Python,
      SQL, C.
    </p>
  </div>
</div>
